[alias]
	st = status
	r = !git rebase -i $(__detect_git_base)
	pr = !git fetch origin && git rebase $(__detect_git_base)
	aa = commit --amend -a --no-edit
	a = commit --amend
	rc = rebase --continue
	rx = rebase -x
	rxf = rebase -x cargo xfmt
	ce = commit --allow-empty -m \"Empty commit\"
	c = commit
	redate = !env EDITOR=true git rebase -i -x 'git commit --amend --reset-author' $(__detect_git_base)
[include]
    path = ~/.gitconfig.local
[includeIf "gitdir:~/dev/oxide/"]
    path = ~/.gitconfig.oxide
[core]
	excludesFile = "~/.gitignore-home"
[init]
	defaultBranch = main
[safe]
	directory = /home/rain/dev/mold
[tag]
	gpgsign = true
[gpg "x509"]
	program = gitsign
[gpg]
	format = x509
[gitsign]
	connectorID = https://github.com/login/oauth
[rebase]
	updateRefs = true
[user]
	email = rain@sunshowers.io
	name = Rain
